sklearn
hmmlearn
pyAudioAnalysis
av
ffmpeg
moviepy
fastapi==0.63.0
uvicorn==0.13.4
python-multipart==0.0.5
aiofiles==0.6.0
PyPDF2==1.26.0
pdf2image==1.14.0
textract==1.6.3
PyMuPDF==1.18.12
fpdf==1.7.2
camelot-py[cv]==0.8.0
imgaug==0.4.0
opencv-python==4.5.1.48
pillow==8.2.0
pyenchant==1.6.6
spacy==3.0.6
langdetect==1.0.8
pyspellchecker==0.6.2
translate==3.5.0
svglib==1.1.0
reportlab==3.5.67